[submodule "aboutproxy"]
	path = aboutproxy
	url = https://github.com/MercuryWorkshop/aboutproxy
[submodule "libapps"]
	path = libapps
	url = https://chromium.googlesource.com/apps/libapps
[submodule "wsproxy"]
	path = wsproxy
	url = https://github.com/MercuryWorkshop/wsProxy
