[submodule "v86"]
	path = v86
	url = https://github.com/MercuryWorkshop/v86
[submodule "aboutproxy"]
	path = aboutproxy
	url = https://github.com/MercuryWorkshop/aboutproxy
[submodule "dreamlandjs"]
	path = dreamlandjs
	url = https://github.com/mercuryworkshop/dreamlandjs
[submodule "chimerix"]
	path = chimerix
	url = https://github.com/MercuryWorkshop/chimerix.git
[submodule "native-file-system-adapter"]
	path = native-file-system-adapter
	url = https://github.com/MercuryWorkshop/native-file-system-adapter/
[submodule "x86_image_wizard/epoxy"]
	path = x86_image_wizard/epoxy
	url = https://github.com/MercuryWorkshop/epoxy-tls
