[submodule "nohost"]
	path = nohost
	url = https://github.com/MercuryWorkshop/nohost
[submodule "v86"]
	path = v86
	url = https://github.com/MercuryWorkshop/v86
[submodule "aboutproxy"]
	path = aboutproxy
	url = https://github.com/MercuryWorkshop/aboutproxy
[submodule "libapps"]
	path = libapps
	url = https://chromium.googlesource.com/apps/libapps
[submodule "public/assets/wallpaper/gnome-backgrounds"]
	path = public/assets/wallpaper/gnome-backgrounds
	url = https://gitlab.gnome.org/GNOME/gnome-backgrounds
