.hintrc
.vscode/
.vscode
.vscode/*
/.vscode
**/.DS_Store
*.log
public/usr
public/bin
public/sbin
public/lib64
public/libx32
public/debootstrap
public/etc
public/lib
public/var
public/root
public/home
public/sys
public/dev
public/proc
public/run
public/tmp
public/boot
public/index.list
public/srv
public/media/index.list
public/mnt/index.list
public/opt/index.list
public/assets/index.list
public/assets/icons/index.list
public/assets/wallpaper/index.list
public/python.app/fonts/index.list
node_modules
