.hintrc
.vscode/
.vscode
.vscode/*
/.vscode
**/.DS_Store
*.log
rootfs
rootfs/*
node_modules
anurax86.tar.gz
symlinks
build/images/
build/
dist/
bios/
apps/games.app
apps/libfileview.lib/icons/
bin/chimerix.ajs
libv86.js
v86.wasm
public/dist.js
v86timestamp
server/package-lock.json
Notes
server/passkey
package-lock.json
.direnv
result
anuraos-types/
public/config.json
static/
x86_image_wizard/alpine/anura-run
x86_image_wizard/alpine/xfrog.sh
x86_image_wizard/alpine/xsetrandr.sh
x86_image_wizard/alpine/anuramouse
x86_image_wizard/alpine/epoxy-server