.hintrc
.vscode/
.vscode
.vscode/*
/.vscode
**/.DS_Store
*.log
rootfs
rootfs/*
node_modules
anurax86.tar.gz
symlinks
build/images/
build/
dist/
bios/
apps/games.app
apps/libfileview.lib/icons/
apps/libphoenix.lib
libv86.js
v86.wasm
public/dist.js
v86timestamp
server/package-lock.json
Notes
server/passkey
package-lock.json
.direnv
result
public/config.json
static/

