/aboutproxy/**/*
/v86/**/*
/build/**/*
/apps/ashell.app/hterm_all.js
/apps/term.app/hterm_all.js
/apps/libphoenix.lib/bundle.mjs
/public/uv/
/static/
/phoenix-anura/
/dreamlandjs/**/*
/x86_image_wizard/whisper/**/*
/x86_image_wizard/twisp/**/*