[Unit]
Description=Run Anura Boot Scripts
After=basic.target
StartLimitIntervalSec=0
[Service]
Type=simple
User=root
ExecStart=/bin/anura-boot.sh

[Install]
WantedBy=multi-user.target
