.aboutapp-container {
    background-color: var(--material-bg);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    padding: 0;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.aboutapp-logo {
    height: 128px;
}

.aboutapp-logo-img {
    transition: background 1s ease-in-out;
    /* height: 100%; */
    border-radius: 10%;
    background: url(/assets/icons/about.png);
    background-size: cover;
    height: 128px;
    width: 128px;
}
.aboutapp-logo-img:hover {
    background: url(/assets/images/lagtrain.gif);
    background-size: cover;
    height: 128px;
    width: 128px;
}

.aboutapp-logo-divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1px;
    background-color: #9ca3af;
    flex-shrink: 0;
    width: 22rem;
}

.aboutapp-content {
    color: white;
}

.aboutapp-content p {
    margin: 0;
}

.aboutapp-content a {
    color: cyan;
}

.aboutapp-link-button {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: cyan;
    text-decoration: underline;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}
