* {box-sizing: border-box}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  margin: 0;
  background-color: #202124;
  color: white;
}

.tab {
  float: left;
  background-color: #202124;
  width: 16%;
  height: 100vh;
  font-family: 'Roboto', 'Segoe UI', Tahoma, sans-serif;
}

.tab button {
  display: block;
  background-color: #202124;
  color: white;
  padding: 10px 16px; 
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  font-weight: 500;
  border-end-end-radius: 100px;
  border-start-end-radius: 100px;
  height: 40px; 
  margin-bottom: 5px; 
}

.tab button:hover {
  background-color: #3d4043;
}

.tab button.active {
  background-color: #9daaff;
}

.tabcontent {
  display: flex;
  flex-direction: column;
  float: left;
  padding: 0px 12px;
  width: 84%;
  border-left: none;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.tab button img {
  display: inline-block;
  margin-right: 27px;
  height: 24px;
}


.tab button div {
  display: flex;
  align-items: center;
  height: 100%;
}


.rows {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  height: 58px;
  width: 861px;
}

.rowsbtn {
  background-color: #292a2d;
  color: white;
  border-radius: 0;
  height: 100%;
  width: 100%;
  border: none;
}

.rows:first-child .rowsbtn {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 0.5px solid #3f4042;
}

.rows:last-child .rowsbtn {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 0.5px solid #3f4042;
}
.rowswrapper {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); 
}

.rows:not(:first-child):not(:last-child) .rowsbtn {
  border-bottom: 0.5px solid #3f4042;
  border-top: 0.5px solid #3f4042;
}