@font-face {
    font-family: Roboto;
    src: url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
 }

* {
    color: var(--theme-fg);
    font-family: "Roboto", sans-serif;
    user-select: none;
}
body {
    margin: 0;
}
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: #2f2f2f;
    border-radius: 8px;
}

*::-webkit-scrollbar-button {
    display: none;
}
.container {
    background-color: var(--theme-bg);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 15em;
    margin-right: 3em;
}
.sidebar button {
    height: 3em;
    border-bottom-right-radius: 5em;
    border-top-right-radius: 5em;
    background-color: var(--theme-bg);
    border: none;
    text-align: left;
    display: flex;
    align-items: center;
}
.sidebar button:hover {
    background-color: var(--theme-secondary-bg);
}
.sidebar button:active {
    background-color: color-mix(var(--theme-bg), var(--theme-secondary-bg), 0.5);
}

.sidebar i {
    margin-right: 1em;
    margin-left: 0.5em;
}

.fileView {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.resize-handle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0;
    width: 3px;
    cursor: col-resize;
}

.hidden-resize-handle {
    display: none;
}

.resize-handle:hover,
.header--being-resized .resize-handle {
    opacity: 0.5;
}

th:hover .resize-handle {
    opacity: 0.3;
}

table {
    flex-grow: 1;
    overflow: scroll;
    display: grid;
    grid-template-columns: min-content 3fr 1fr 1fr 1fr;
    grid-auto-rows: min-content;
    overflow-x: hidden;
    overflow-y: auto;
}

tr,
thead,
tbody {
    display: contents;
}

th {
    position: relative;
}

th > tr {
    margin: 0;
}

tr > * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.iconContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icon {
    height: 1em;
    width: 1em;
}

.selected > * {
    background-color: color-mix(in srgb, var(--theme-bg) 50%, var(--theme-accent) 50%) !important;
}

.hover > * {
    background-color: var(--theme-secondary-bg);
}

.topbar {
    margin-top: 0.3em;
    margin-right: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topbar button {
    border-radius: 1em;
    border: none;
    background-color: var(--theme-bg);
    height: 2.25em;
}

.topbar button > i {
    padding: 0.25em;
}

.topbar button:hover {
    background-color: var(--theme-secondary-bg);
}

.topbar button:active {
    background-color: color-mix(var(--theme-bg), var(--theme-secondary-bg), 0.5);
}

.topbar .sep {
    flex-grow: 1;
}

.topbar .breadcrumbs button {
    font-size: 16px;
    margin-right: 0.25em;
    margin-left: 0.25em;
    border-radius: 0;
    display: inline-block;
}

.topbar .breadcrumbs button:hover {
    background-color: transparent;
}

hr {
    color: transparent;
    border-bottom: 1px solid var(--theme-border);
    opacity: 0.25;
    width: 100%;
}
