@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Note from Majikun: PLEASE STOP ADDING BACK STUFF!!!!!!! NO BORDERS OR TITLES!!!!! */

body {
    --oobe-bg: #fff;
}

.aliceWMwin {
    user-select: none; /* FUCK ie and safari no one uses them anyways */
    height:200px;
    width:500px;
    background: white;
    position:fixed;
    overflow:hidden;
    z-index:91;
    display: flex; /* FLEXBOX #2 */
    border: 2px solid black;
    flex-direction: column;

}

.aliceWMwin .title{
    display: flex;
    background-color: black;
    font-weight:bold;
    color: white;
    height:24px; 
    padding:2px;
    align-items:center;
}

.aliceWMwin .titleContent {
    flex: 1;
}

.aliceWMwin .content{
    padding:2px;
    flex: 1;
}

.aliceWMwin .title:hover{
    cursor:move;
}

.aliceWMwin .windowButton {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 100%;
    margin: 2px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    transition: background-color .2s ease-in-out;
    
}

.aliceWMwin .windowButton > span {
    font-size: 16px;
}

.aliceWMwin .windowButton:hover {
    background-color: darkgray;
}

.aliceWMwin .windowButton:active {
    background-color: gray;
}


#overlay{
    width:100%;
    height:100%;
    left:0;
    top:0;
    right:0;
    position:fixed;
    background:gray;
    opacity:0.5;
    z-index:98;
}

body {
    overflow: hidden;
    background: url(/assets/wallpaper/wallpaper.png) no-repeat center center fixed;
    user-select: none;
    font-family: 'Roboto', sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: rgba(22, 22, 22, 0.8);
  backdrop-filter: blur(5px);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 20px;
  padding-top:5px;
}

#showDialog {
	width: 40px;
	height: 40px;
}

.xterm {
    font-family: monospace !important;
}

.launcher {
    position: absolute;
    width: min(70%, 35em);
    height: min(80%, 40em);
    background-color: rgba(22, 22, 22, 0.8);
    border-radius: 1em;
    bottom: 4em;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    display: none;
}

.launcher.active {
    display: block;
}

.launcher .topSearchBar {
    display: flex;
    flex-direction: row;
    padding: 1em;
    align-items: center;
}

.launcher .topSearchBar img {
    width: 1em;
    height: 1em;
    margin-right: 1em;
}

.launcher .topSearchBar input {
    flex-grow: 1;
    background: transparent;
    border: none;
}

.launcher .recentItemsWrapper {
    padding: 1em;
    font-size: 12px;
    border-top: 1px solid rgb(22 22 22 / 50%);
}

.launcher .recentItemsWrapper .recentItemsText {
    margin-left: 4em;
    margin-right: 4em;
    color: #fff;
    border-bottom: 1px solid rgb(22 22 22 / 50%);
    padding: 1em 0em;
}

.launcher .appsView {
    padding: 1em;
    font-size: 12px;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 8em;
}

.launcher .appsView .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.launcher .appsView .app input[type=image] {
    margin-bottom: 0.5em;
}

.launcher .appsView .app div {
    height: 1em;
}


.custom-menu {
    position: absolute;
    border: 1px solid #000000;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    padding: 10px 0;
    width: 300px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    z-index: 10000;
    overflow: hidden;
}
.custom-menu-item {
    padding: 8px 12px;
    color: #ffffff;
    cursor: pointer;
    user-select: none;
}
.custom-menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined', sans-serif;
}
.custom-menu-item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
}

.custom-menu-item .material-symbols-outlined {
  margin-top: 0.05px;
  margin-right: 5px;
  padding-left: 1px;
}

.custom-menu .extra-menu-wrapper {
    position: fixed;
}

.custom-menu .extra-menu {
    position: relative;
    left: 303px;
    bottom: 0.75em;
}

#launcher-button-container {
    position: absolute;
    height: 100%;
    aspect-ratio: 1/1;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#launcher-button {
    background-color: gray;
    opacity: 0.5;
    border-radius: 50%;
    height: 65%;
    width: 65%;
}

#launcher-button img {
    border-radius: 50%;
}

@keyframes slide-in {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(-5%);
    }
  }
@keyframes slide-out {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(100%);
    }
}



.bootsplash {
    background-color: black;
    z-index: 9999999999;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display:  flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.bootsplash > img {
    width: 300px;
    height: 80px;
}
