.oobe {
    background-color: var(--oobe-bg);
    z-index: 999999999;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.oobe #content {
    padding: 79.6px 40px 23.8px 40px;
    width: 1040px;
    height: 680px;
    box-sizing: border-box;
}

.oobe #content .screen {
    width: 100%;
    height: 100%;
}

.oobe .screen h1 {
    margin: 48px 0 0 0;
}

.oobe .screen #subtitle {
    margin: 16px 0 64px 0;
    font-size: 24px;
}

.oobe .screen #gridContent {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
}

.oobe .screen #gridContent #topButtons {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.oobe .screen #gridContent #bottomButtons {
    align-self: end;
    justify-self: start;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.oobe .screen .preferredButton {
    background-color: rgb(26, 115, 232);
    border-radius: 16px;
    border-style: none;
    color: white;
    height: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

.oobe .screen button {
    background-color: var(--oobe-bg);
    border-radius: 16px;
    border: 1px solid gray;
    color: rgb(26,115,232);
    height: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

.oobe #welcome.screen #animation {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    margin-left: auto
}
