[Unit]
Description=Anura PTY Daemon
After=basic.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/bin/anurad-start.sh

[Install]
WantedBy=multi-user.target
