[Unit]
Description=Run Anura Boot Scripts
After=basic.target
StartLimitIntervalSec=0
[Service]
Type=oneshot
ExecStart=/bin/anura-boot.sh

[Install]
WantedBy=multi-user.target
