[Unit]
Description=Mount Filer
After=basic.target
StartLimitIntervalSec=0
[Service]
Type=oneshot
ExecStart=/bin/mountfiler.sh

[Install]
WantedBy=multi-user.target
