[Unit]
Description=Mount Filer
After=basic.target
StartLimitIntervalSec=0
[Service]
Type=oneshot
ExecStart=/bin/bash mount -t 9p host9p /root

[Install]
WantedBy=multi-user.target
