body {
    color: #eeeeee;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 70px;
    margin: 0;
}

#overviewScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.overview-infoSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #1a1a1c;
}

.overview-infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    height: 100px;
}

.overview-appInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.overview-appTitle {
    display: block;
    margin: 0;
    position: relative;
    font-size: 24px;
    text-align: left;
    font-weight: bolder;
    color: white;
}

.overview-appCategory {
    display: block;
    position: relative;
    font-size: 16px;
    text-align: left;
    color: white;
} 

.overview-thumbnailContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    width: 80px;
}

.overview-installButton {
    /* margin-left: auto; */
    border: none;
    width: 70px;
    height: 30px;
    border-radius: 7px;
    background-color: #388e3c;
    color: #fafafa;
}

.overview-installButton:hover {
    cursor: pointer;
}

.overview-screenshotSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overview-screenshotContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75%;
    height: 250px;
}

.overview-aboutSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1a1a1c;
}

.overview-aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1a1a1c;
    width: 75%;
}

.app {
    height: 100px;
    width: 75%;
    border-color: #444;
    border-style: solid;
    border-width: 1px;
    margin-right: auto;
    margin-left: auto;
    background: rgb(20,20,20);
    display: flex;
    align-items: center;
    border-bottom: none;
}

.app:last-of-type {
    border-bottom: #444 solid 1px;
}

.app > input:hover {
    cursor: pointer;
    transition: 0.3s;
}
.thumbnailContainer > img {
    display: block;
    position: relative;
    height: 80px;
    width: 80px;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoContainer > span {
    display: block;
    position: relative;
    font-size: 16px;
    text-align: left;
    color: #fafafa;
}

.infoContainer > p {
    display: block;
    position: relative;
    font-size: 14px;
    text-align: left;
    color: #757575;
    margin: 0;
    padding: 0;
}

.app > input {
    float: right;
    margin-right: 15px;
    margin-left: auto;
    border: none;
    width: 70px;
    height: 30px;
    border-radius: 7px;
    background-color: #388e3c;
    color: #fafafa;
}

nav {
    position: fixed;
    display: block;
    width: 100vw;
    height: 70px;
    font-size: large;
    
    border-bottom: #bdbdbd;
    top: 0;
}
nav > div > h1 {
    /* position: fixed; */
    font-size: 12px;
    float: left;
    margin-left: 2vw;
    margin-top: 20px;
}

nav > div > input {
    border: none;
    height: 30px;
    border-radius: 7px;
    background-color: rgb(20,20,20);
    float: right;
    margin-right: 2.5vw;
    margin-top: 20px;
    color: #eeeeee;
}

nav > div {
    width: 100vw;
    display: table;
}

nav > div > input:hover {
    cursor: pointer;
}

.repoItem {
    background: rgb(20,20,20);
    margin-right: auto;
    margin-left: auto;
    height: 65px;
    line-height: 65px;
    width: 75vw;
    text-align: center;
    color: #eeeeee;
    border-color: #444;
    border-style: solid;
    border-width: 0.5px;
    border-bottom: none;
}

.repoItem:nth-last-child(2) {
    border-bottom: #444 solid 0.5px;
}

.repoItem:hover {
    cursor: pointer;
    transition: 0.3s;
    background-color: #4caf50;
    color: #212121;
}

.repoAdd {
    margin-left: auto;
    margin-right: auto;
    display: table;
    position: relative;
    margin-top: 20px;
}

.repoAdd > input {
    border-width: 1px;
    border-color: #444;
    background-color: rgb(20,20,20);
    box-shadow: none !important;
    border-style: solid !important;
    margin-right: 5px;
    margin-left: 5px;
    box-shadow: none;
    outline: none;
    color: #bdbdbd;
}

.repoItem > p {
    margin: 0;
    font-size: 10px;
    color: #bdbdbd;
}

.search {
    border-width: 1px;
    background-color: rgb(20,20,20);
    border-color: #444;
    box-shadow: none !important;
    border-style: solid !important;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    display: flex;
    width: 40vw;
    height: 3vh;
}

.search:focus {
    outline: none;
}