body {
    color: #eeeeee;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 70px;
    background: rgb(20,20,20);
}
.app {
    height: 100px;
    width: 75vw;
    border-color: #424242;
    border-style: solid;
    border-width: 1px;
    margin-right: auto;
    margin-left: auto;
    transition: 0.3s;
    background: #212121;
    margin-top: -2px;
}

.app > input:hover {
    cursor: pointer;
    transition: 0.3s;
}
.app > img {
    display: block;
    position: relative;
    height: 80px;
    width: 80px;
    margin-top: 10px;
    transition: .3s;
    float: left;
    margin-left: 15px;
    margin-right: 20px;
}
.app > span {
    display: block;
    position: relative;
    font-size: 16px;
    text-align: left;
    color: #fafafa;
    margin-top: 30px;
}

.app > p {
    display: block;
    position: relative;
    font-size: 14px;
    text-align: left;
    color: #757575;
    margin: 0;
    padding: 0;
}
nav {
    position: fixed;
    display: block;
    width: 100vw;
    height: 70px;
    font-size: large;
    
    border-bottom: #bdbdbd;
    top: 0;
}
nav > div > h1 {
    /* position: fixed; */
    font-size: 12px;
    float: left;
    margin-left: 2vw;
    margin-top: 20px;
}

nav > div > input {
    border: none;
    width: 70px;
    height: 30px;
    border-radius: 7px;
    background-color: #212121;
    float: right;
    margin-right: 2.5vw;
    margin-top: 20px;
    color: #eeeeee;
}

nav > div {
    width: 100vw;
    display: table;
}

nav > div > input:hover {
    cursor: pointer;
}

.repoItem {
    background-color: #212121;
    margin-right: auto;
    margin-left: auto;
    height: 50px;
    width: 75vw;
    text-align: center;
    padding-top: 16px;
    margin-top: -1px;
    color: #eeeeee;
    border-color: #424242;
    border-style: solid;
    border-width: 0.5px;
    border-bottom-width: 0.5px;
}

.repoItem:hover {
    cursor: pointer;
    transition: 0.3s;
    background-color: #4caf50;
    color: #212121;
}

.repoAdd {
    margin-left: auto;
    margin-right: auto;
    display: table;
    position: relative;
    margin-top: 20px;
}

.repoAdd > input {
    border-width: 1px;
    border-color: #424242;
    background-color: #212121;
    box-shadow: none !important;
    border-style: solid !important;
    margin-right: 5px;
    margin-left: 5px;
    box-shadow: none;
    outline: none;
    color: #bdbdbd;
}

.repoItem > p {
    margin: 0;
    font-size: 10px;
    color: #bdbdbd;
}

.app > input {
    float: right;
    margin-right: 15px;
    margin-top: -35px;
    border: none;
    width: 70px;
    height: 30px;
    border-radius: 7px;
    background-color: #388e3c;
    color: #fafafa;
}

.search {
    border-width: 1px;
    background-color: #212121;
    border-color: #424242;
    box-shadow: none !important;
    border-style: solid !important;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    display: flex;
    width: 40vw;
    height: 3vh;
}

.search:focus {
    outline: none;
}