body {
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 70px;
    background: #222;
    background-image: radial-gradient(#666 1px, transparent 0);
    background-size: 20px 20px;
   background-position: -19px -19px;
}
.app {
    height: 175px;
    width: 125px;
    border-color: #222222;
    border-style: solid;
    border-width: 1px;
    border-radius: 17px;
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.3s;
    background: none;
}

.app > img:hover {
    cursor: pointer;
    background: #444;
    transition: 0.3s;
}
.app > img {
    display: block;
    position: relative;
    height: 125px;
    width: 125px;
    bottom: -5px;
    background-color: #333;
    border-radius: 35px;
    transition: .3s;
}
.app > span {
    position: block;
    display: block;
    font-size: 15px;
    top: 2px;
    text-align: left;
    padding-top: 15px;
    color: #ddd;
    padding-left: 10px;
}
nav {
    position: fixed;
    display: block;
    width: 100%;
    height: 70px;
    font-size: large;
    
    border-bottom: gray;
    top: 0;
    left: 0;
}
nav > h1 {
    /* position: fixed; */
    margin-top: 18px;
    text-align: center;
    top: 2px;
}

nav > h1:hover {
    cursor: pointer;
}

.repoItem {
    background-color: #292a2d;
    margin-right: auto;
    margin-left: auto;
    height: 40px;
    width: 500px;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 20px;
    transition: 0.3s;
    color: #ddd;
}

.repoItem:hover {
    cursor: pointer;
    width: 550px;
    transition: 0.3s;
    background-color: #48c76a;
    color: #222;
}

.repoItem > input {
    border: none;
    background-color: #444;
    color: #ddd;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 25px;
    box-shadow: none;
    outline: none;
}

