body {
    background-color: rgb(32, 33, 36);
    color: white;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.taskbarImg {
    height: 40px;
    width: 40px;
    margin-left: 2px;
    margin-right: 2px;
}
.element {
    height: 40px;
    width: 40px;
    border: 1px solid #555;
    margin-left: 4px;
    margin-right: 4px;
}
.taskbar {
    display: flex;
}

p {
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
}
