{
  "name": "[PROGRAM NAME]",
  "type": "auto", 
  "package": "[organization.package]",
  "index": "[PROGRAM index.html]",
  "icon": "[PROGRAM icon.svg]",
  "handler": "[PROGRAM handler.js]",
  "wininfo":{
    "title":"",
    "width":"1000px",
    "height":"500px"
  }
}