@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

div {
  font-family: 'Roboto';
}

.step {
  padding-left: 10%;
  padding-right: 10%;
  height: 100%;
}

.step h2 {
  padding-top: 2em;
  font-weight: normal;
}

.step .imgWrapper {
  margin-top: 3em;
  display: flex;
  justify-content: center;
}

.step .imgWrapper img {
  width: 85%;
}

.navigationFooter {
  position: absolute;
  bottom: 2em;
  right: 10%;
}

.navigationFooter button {
  height: 2em;
}

.step .crostiniSettings {
  margin-top: 1em;
}
