html {
    background-color: black;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    --oobe-bg: #fff;
}
#overlay {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    position: fixed;
    background: gray;
    opacity: 0.5;
    z-index: 98;
}

body {
    overflow: hidden;
    background: url(/assets/wallpaper/bundled_wallpapers/Nocturne.jpg) no-repeat
        center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    user-select: none;
    font-family: "Roboto", sans-serif;
}

body.blur-disable #quickSettings {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 5px;
}

.lightbar {
    width: 40px;
    height: 2px;
    position: relative;
    bottom: 1px;
    border-radius: 5px;
    opacity: 0.75;
}

.bootsplash {
    background-color: black;
    z-index: 9999999999;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: white;
    flex-wrap: wrap;
    transition: 0.25s;
    opacity: 1;
    transform: scale(1);
}

.bootsplash.hide {
    opacity: 0;
    pointer-events: none;
    transition: 0.25s;
    transform: scale(1.4);
}

.flex {
    display: flex;
}
.flexcenter {
    justify-content: space-evenly;
    align-items: center;
}

.material-symbols-outlined {
    font-family: "Material Symbols Outlined", sans-serif;
}

.custom-menu {
    position: absolute;
    background-color: var(--theme-dark-bg);
    padding: 5px 0;
    width: 150px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);

    z-index: 10000;
    overflow: hidden;

    /* backdrop-filter: blur(20px); */
    padding: 0;
    border-radius: 6px;
}

.custom-menu-item:hover {
    background-color: var(--theme-bg);
    transition: 0.05s;
}

.custom-menu-item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    font-size: 13px;
    color: var(--theme-fg);
    cursor: pointer;
    user-select: none;
    transition: 0.1s;
}

.custom-menu-item .material-symbols-outlined {
    margin-top: 0.2px;
    margin-right: 30px;
    padding-left: 1px;
}

.custom-menu .extra-menu-wrapper {
    position: fixed;
}

.custom-menu .extra-menu {
    position: relative;
    left: 303px;
    bottom: 0.75em;
}
