.notif-container {
    position: absolute;
    float: right;
    bottom: 72px;
    right: 10px;
    z-index: 9997;
}

.notif {
    position: relative;
    font-family: "Roboto";
    background-color: rgba(22, 22, 22, 0.8);
    border-radius: 7px;
    color: white;
    min-height: 115px;
    width: 400px;
    cursor: pointer;
    margin: 10px;
    left: 525px;
    animation: slideIn 0.5s ease-in-out forwards;
    opacity: 1;
    transition: 350ms ease-in-out;
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: inset 0 0 0 1px #3e3e3e;
}

@keyframes slideIn {
    from {
        left: 500px;
    }
    to {
        left: 0px;
    }
}
@keyframes slide-in {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(-5%);
    }
}
@keyframes slide-out {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(100%);
    }
}
.notif-body {
    margin: 10px;
    padding-top: 5px;
}

.notif-description {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}
.notif-title {
    font-size: 18px;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: bold;
}
.notif-close-indicator {
    position: absolute;
    top: 6px;
    left: 370px;
}
