@keyframes slideIn {
    from {
        left: 500px;
    }
    to {
        left: 0px;
    }
}
@keyframes slide-in {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(-5%);
    }
}
@keyframes slide-out {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(100%);
    }
}
