#taskbar-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#taskbar-separator {
    background-color: #999;
    height: 40px;
    width: 5px;
    border-radius: 10px;
}
