body {
    color: #eeeeee;
    font-family: "Roboto", sans-serif;
    padding-top: 70px;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

#repoListButton {
    display: none;
}

body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#overviewScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.overview-infoSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1c;
    width: 100%;
    height: 150px;
}

.overview-infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.overview-appInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: auto;
    height: 100px;
}

.overview-appTitle {
    display: block;
    margin: 0;
    font-size: 35px;
    font-weight: bolder;
    color: white;
    text-align: left;
}

.overview-appCategory {
    display: block;
    position: relative;
    font-size: 16px;
    text-align: left;
    color: #aaaaaa;
    width: 100%;
}

.overview-thumbnailContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    width: 80px;
}

.overview-installButton:hover {
    cursor: pointer;
}

.overview-screenshotSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1c;
    width: 100%;
}

.overview-screenshotContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    max-height: 250px;
    min-height: 50px;
}

.overview-aboutSection {
    display: flex;
    justify-content: center;
    width: 100%;
}

.overview-aboutContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 70%;
}

.overview-aboutDesc {
    color: #aaaaaa;
}

.app:first-of-type {
    border-radius: 4px 4px 0 0;
}


.app:last-of-type {
    border-radius: 0 0 4px 4px;
    border-bottom: none;
}

.app:only-of-type {
    border-radius: 4px;
    border-bottom: none;
}
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: #2f2f2f;
    border-radius: 8px;
}

*::-webkit-scrollbar-button {
    display: none;
}

#appList {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

.app {
    height: 100px;
    width: 100%;
    border-bottom: #444 solid 1px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.app:hover {
    background: rgba(255, 255, 255, 0.08);
    transition: 0.2s;
}

.app>input:hover {
    cursor: pointer;
    transition: 0.3s;
}

.thumbnailContainer>img {
    display: block;
    position: relative;
    height: 80px;
    width: 80px;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoContainer>span {
    display: block;
    position: relative;
    font-size: 16px;
    text-align: left;
    color: #fafafa;
}

.infoContainer>p {
    display: block;
    position: relative;
    font-size: 14px;
    text-align: left;
    color: #757575;
    margin: 0;
    padding: 0;
}

.app>input {
    margin-left: auto;
    margin-right: 30px;
}

#topbar {
    position: fixed;
    display: block;
    width: 100%;
    height: 24px;
    background-color: rgba(32,33,36,0.8);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-bottom: #bdbdbd;
    top: 0;
    user-select: none;
    z-index: 1000; /* avoid firefox funkiness? */
}


#repoListButton {
    border: none;
    height: 30px;
    border-radius: 7px;
    background: transparent;
    color: #eeeeee;
}

#repoListButtonLabel {
    display: flex;
}

nav>div {
    width: 100vw;
    display: table;
}

nav>div>input:hover {
    cursor: pointer;
}

.repoItem {
    background: rgba(255, 255, 255, 0.05);
    margin-right: auto;
    margin-left: auto;
    height: 65px;
    line-height: 65px;
    width: 60vw;
    text-align: center;
    color: #eeeeee;
    font-weight: 500;
    border-bottom: #444 solid 1px;
    cursor: pointer;
}

.repoItem:first-of-type {
    border-radius: 4px 4px 0 0;
}


.repoItem:nth-last-of-type(2) {
    border-radius: 0 0 4px 4px;
    border-bottom: none;
}

.repoItem:hover {
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.08);
}

.repoAdd {
    margin-left: auto;
    margin-right: auto;
    display: table;
    position: relative;
    margin-top: 20px;
}

.repoAdd>input {
    appearance: none;
    background-color: transparent;
    border: none; /* reset */
    border-style: solid;
    border: 0px solid transparent;
    border-bottom: 4px solid #444;
    box-shadow: none !important;
    border-style: solid !important;
    margin-right: 5px;
    margin-left: 5px;
    box-shadow: none;
    outline: none;
    color: #bdbdbd;
}

.repoAdd>input:focus {
    outline: none;
    border-bottom-color: #3ca1ff;
    transition: 0.2s;
    transition: 0.2s;
}

.repoAdd > input[type="submit"] {
    background: rgb(20,20,20);
    padding: 6px;
    border-radius: 6px;
    border: none!important;
}

.repoItem>p {
    margin: 0;
    font-size: 10px;
    color: #bdbdbd;
}

.search {
    appearance: none;
    background-color: transparent;
    border: none;
    border-style: solid;
    border: 0px solid transparent;
    border-bottom: 3px solid #444;
    box-shadow: none !important;
    border-style: solid !important;
    margin-right: auto;
    margin-bottom: 50px;
    padding-bottom: 2px;
    margin-left: auto;
    display: flex;
    width: 40vw;
    height: 3vh;
    font-family: inherit;
    transition: border-color 0.2s;
}

.search:focus {
    outline: none;
    border-bottom-color: #3ca1ff;
}