body {
    color: #eeeeee;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 70px;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#overviewScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.overview-infoSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1c;
    width: 100%;
    height: 150px;
}

.overview-infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.overview-appInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: auto;
    height: 100px;
}

.overview-appTitle {
    display: block;
    margin: 0;
    font-size: 35px;
    font-weight: bolder;
    color: white;
    text-align: left;
}

.overview-appCategory {
    display: block;
    position: relative;
    font-size: 16px;
    text-align: left;
    color: #aaaaaa;
    width: 100%;
}

.overview-thumbnailContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    width: 80px;
}

.overview-installButton {
    /* margin-left: auto; */
    border: none;
    width: 10%;
    height: 30px;
    border-radius: 7px;
    background-image: linear-gradient(#388e3c, #5aaf5e);
    color: #fafafa;
}

.overview-installButton:hover {
    cursor: pointer;
}

.overview-screenshotSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1c;
    width: 100%;
}

.overview-screenshotContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    max-height: 250px;
    min-height: 50px;
}

.overview-aboutSection {
    display: flex;
    justify-content: center;
    width: 100%;
}

.overview-aboutContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 70%;
}

.overview-aboutDesc {
    color: #aaaaaa;
}

#appListScreen>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.app {
    height: auto;
    height: 205px;
    width: 150px;
    border-color: #444;
    border-style: solid;
    border-width: 1px;
    background: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    margin: 10px;
    text-align: center;
    justify-content: center;
}

.app:last-of-type {
    border-bottom: #444 solid 1px;
}


.app>input:hover {
    cursor: pointer;
    transition: 0.3s;
}

.thumbnailContainer>img {
    display: block;
    position: relative;
    height: 80px;
    width: 80px;
    margin-left: 15px;
    margin-right: 15px;
    margin: 10px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoContainer>span {
    display: block;
    position: relative;
    font-size: 16px;
    text-align: left;
    color: #fafafa;
}

.infoContainer>p {
    display: block;
    position: relative;
    font-size: 14px;
    text-align: left;
    color: #757575;
    margin: 0;
    padding: 0;
}

.app>input {
    border: none;
    width: 70px;
    height: 30px;
    border-radius: 7px;
    background-image: linear-gradient(#3c3c3c, #5e5e5e);
    color: #fafafa;
}

nav {
    position: fixed;
    display: block;
    width: 100vw;
    height: 70px;
    font-size: large;

    border-bottom: #bdbdbd;
    top: 0;
}

nav>div>h1 {
    /* position: fixed; */
    font-size: 12px;
    float: left;
    margin-left: 2vw;
    margin-top: 20px;
}

nav>div>input {
    border: none;
    height: 30px;
    border-radius: 7px;
    background-color: rgb(20, 20, 20);
    float: right;
    margin-right: 2.5vw;
    margin-top: 20px;
    color: #eeeeee;
}

nav>div {
    width: 100vw;
    display: table;
}

nav>div>input:hover {
    cursor: pointer;
}

.repoItem {
    background: rgb(20, 20, 20);
    margin-right: auto;
    margin-left: auto;
    height: 65px;
    line-height: 65px;
    width: 75vw;
    text-align: center;
    color: #eeeeee;
    border-color: #444;
    border-style: solid;
    border-width: 0.5px;
    border-bottom: none;
    transition: all 0.5;
}

.repoItem:nth-last-child(2) {
    border-bottom: #444 solid 0.5px;
}

.repoItem:nth-child(1) {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.repoItem:nth-child(3) {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.repoItem:hover {
    cursor: pointer;
    background-color: #4caf50;
    color: #212121;
}

.repoAdd {
    margin-left: auto;
    margin-right: auto;
    display: table;
    position: relative;
    margin-top: 20px;
}

.repoAdd>input {
    border-width: 1px;
    border-color: #444;
    background-color: rgb(20, 20, 20);
    box-shadow: none !important;
    border-style: solid !important;
    margin-right: 5px;
    margin-left: 5px;
    box-shadow: none;
    outline: none;
    color: #bdbdbd;
}

.repoItem>p {
    margin: 0;
    font-size: 10px;
    color: #bdbdbd;
}

.search {
    border-width: 1px;
    background-color: rgb(20, 20, 20);
    border-color: #444;
    box-shadow: none !important;
    border-style: solid !important;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    display: flex;
    width: 40vw;
    height: 3vh;
}

.search:focus {
    outline: none;
}